individual_sensor_flows/Motion_sensor.json
[
    {
        "id": "f24a94f20292b0a2",
        "type": "tab",
        "label": "Motion Sensor",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "44dc14e128203419",
        "type": "inject",
        "z": "f24a94f20292b0a2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 450,
        "y": 260,
        "wires": [
            [
                "afc8d86d337eef1e"
            ]
        ]
    },
    {
        "id": "afc8d86d337eef1e",
        "type": "function",
        "z": "f24a94f20292b0a2",
        "name": "login payload",
        "func": "msg.headers = {\"Content-Type\":\"application/json\"};\nmsg.payload = { login: \"admin\", password: \"654321\" };\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 260,
        "wires": [
            [
                "99bee4f319c1e329"
            ]
        ]
    },
    {
        "id": "99bee4f319c1e329",
        "type": "http request",
        "z": "f24a94f20292b0a2",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://10.183.67.137:8083/ZAutomation/api/v1/login",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 810,
        "y": 260,
        "wires": [
            [
                "db9d20e251087d6f"
            ]
        ]
    },
    {
        "id": "db9d20e251087d6f",
        "type": "function",
        "z": "f24a94f20292b0a2",
        "name": "store sid",
        "func": "// Try JSON sid first\nlet sid = msg.payload?.data?.sid;\n\n// If not present, try Set-Cookie header\nif (!sid) {\n  const setCookie = msg.headers?.['set-cookie'] || msg.headers?.['Set-Cookie'];\n  // set-cookie may be an array\n  const cookies = Array.isArray(setCookie) ? setCookie : [setCookie].filter(Boolean);\n\n  for (const c of cookies) {\n    const m = String(c).match(/ZWAYSession=([^;]+)/);\n    if (m) { sid = m[1]; break; }\n  }\n}\n\nif (!sid) {\n  node.error(\"Login response did not include sid or ZWAYSession cookie.\", {\n    payload: msg.payload,\n    headers: msg.headers\n  });\n  return null;\n}\n\nglobal.set(\"zway_sid\", sid);\nnode.warn(\"SID stored successfully\");\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "e21dbef3fb269761",
        "type": "function",
        "z": "f24a94f20292b0a2",
        "d": true,
        "name": "Find node vDevs",
        "func": "const NODE = 19; // change to your smoke node / plug node / leak node / vibration node\nconst devices = msg.payload?.data?.devices || [];\n\nconst hits = devices\n  .filter(d => String(d.id).includes(`zway_${NODE}-`))\n  .map(d => ({\n    id: d.id,\n    title: d.metrics?.title,\n    probeTitle: d.metrics?.probeTitle,\n    level: d.metrics?.level,\n    unit: d.metrics?.scaleTitle || d.metrics?.unit || \"\"\n  }));\n\nmsg.payload = hits;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "5ec1072766508096",
        "type": "inject",
        "z": "f24a94f20292b0a2",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 500,
        "wires": [
            [
                "5b92b261b17c1c1b"
            ]
        ]
    },
    {
        "id": "5b92b261b17c1c1b",
        "type": "function",
        "z": "f24a94f20292b0a2",
        "d": true,
        "name": "attach cookie",
        "func": "const sid = global.get(\"zway_sid\");\nif (!sid) {\n  node.error(\"No SID stored yet. Run Login inject first.\");\n  return null;\n}\nmsg.headers = msg.headers || {};\nmsg.headers.Cookie = \"ZWAYSession=\" + sid;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 500,
        "wires": [
            [
                "d34260455073b2ac"
            ]
        ]
    },
    {
        "id": "d34260455073b2ac",
        "type": "http request",
        "z": "f24a94f20292b0a2",
        "d": true,
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://10.183.67.137:8083/ZAutomation/api/v1/devices",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 500,
        "wires": [
            [
                "e21dbef3fb269761"
            ]
        ]
    },
    {
        "id": "964ec45526a92fac",
        "type": "function",
        "z": "f24a94f20292b0a2",
        "name": "vDev ID - funtcion",
        "func": "const devices = msg.payload?.data?.devices || [];\nconst byId = new Map(devices.map(d => [String(d.id), d]));\n\nfunction toNum(x) {\n  const m = String(x ?? \"\").replace(\",\", \".\").match(/-?\\d+(\\.\\d+)?/);\n  return m ? Number(m[0]) : null;\n}\n\nfunction to01(x) {\n  const s = String(x ?? \"\").toLowerCase();\n  if (s === \"on\" || s === \"true\" || s === \"1\") return 1;\n  if (s === \"off\" || s === \"false\" || s === \"0\") return 0;\n  const n = toNum(x);\n  return Number.isFinite(n) ? (n ? 1 : 0) : null;\n}\n\n// Node 19 vDev IDs\nconst temperature = toNum(byId.get(\"ZWayVDev_zway_19-0-49-1\")?.metrics?.level);    // °C\nconst luminance  = toNum(byId.get(\"ZWayVDev_zway_19-0-49-3\")?.metrics?.level);    // Lux\nconst seismic     = toNum(byId.get(\"ZWayVDev_zway_19-0-49-25\")?.metrics?.level);  // Mercalli\nconst accelX      = toNum(byId.get(\"ZWayVDev_zway_19-0-49-52\")?.metrics?.level);  // m/s²\nconst accelY      = toNum(byId.get(\"ZWayVDev_zway_19-0-49-53\")?.metrics?.level);  // m/s²\nconst accelZ      = toNum(byId.get(\"ZWayVDev_zway_19-0-49-54\")?.metrics?.level);  // m/s²\n\nconst motion      = to01(byId.get(\"ZWayVDev_zway_19-0-113-7-8-A\")?.metrics?.level); // on/off\nconst tamper      = to01(byId.get(\"ZWayVDev_zway_19-0-113-7-3-A\")?.metrics?.level); // on/off\nconst genAlarm    = to01(byId.get(\"ZWayVDev_zway_19-0-156-0-A\")?.metrics?.level);   // on/off\nconst battery     = toNum(byId.get(\"ZWayVDev_zway_19-0-128\")?.metrics?.level);      // %\n\nconst generalPurpose = to01(byId.get(\"ZWayVDev_zway_19-0-48-1\")?.metrics?.level);   // on/off (optional)\n\nmsg.payload = {\n  temperature,\n  luminance,\n  seismic,\n  accelX,\n  accelY,\n  accelZ,\n  motion,\n  tamper,\n  genAlarm,\n  battery,\n  generalPurpose,\n  ts: Date.now()\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 400,
        "wires": [
            [
                "dfa79ccc9c29d00c"
            ]
        ]
    },
    {
        "id": "dfa79ccc9c29d00c",
        "type": "function",
        "z": "f24a94f20292b0a2",
        "name": "Make UI Messages",
        "func": "const p = msg.payload;\n\nconst msgs = [\n  { topic: \"vib.temp\", payload: p.temperature },\n  { topic: \"vib.lux\", payload: p.luminance },\n  { topic: \"vib.seismic\", payload: p.seismic },\n\n  { topic: \"vib.ax\", payload: p.accelX },\n  { topic: \"vib.ay\", payload: p.accelY },\n  { topic: \"vib.az\", payload: p.accelZ },\n\n  { topic: \"vib.motion\", payload: p.motion },\n  { topic: \"vib.tamper\", payload: p.tamper },\n  { topic: \"vib.alarm\", payload: p.genAlarm },\n\n  { topic: \"vib.battery\", payload: p.battery },\n\n  // optional\n  { topic: \"vib.general\", payload: p.generalPurpose }\n];\n\nreturn [msgs];\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 400,
        "wires": [
            [
                "3af7235625f23643"
            ]
        ]
    },
    {
        "id": "74a84831e5af19c6",
        "type": "function",
        "z": "f24a94f20292b0a2",
        "name": "attach cookie",
        "func": "const sid = global.get(\"zway_sid\");\nif (!sid) {\n  node.error(\"No SID stored yet. Run Login inject first.\");\n  return null;\n}\nmsg.headers = msg.headers || {};\nmsg.headers.Cookie = \"ZWAYSession=\" + sid;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 400,
        "wires": [
            [
                "32e75a17668d6303"
            ]
        ]
    },
    {
        "id": "32e75a17668d6303",
        "type": "http request",
        "z": "f24a94f20292b0a2",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://10.183.67.137:8083/ZAutomation/api/v1/devices",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 790,
        "y": 400,
        "wires": [
            [
                "964ec45526a92fac"
            ]
        ]
    },
    {
        "id": "c21ca001f17e140c",
        "type": "inject",
        "z": "f24a94f20292b0a2",
        "name": "Start influxDB Move",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 340,
        "y": 400,
        "wires": [
            [
                "74a84831e5af19c6"
            ]
        ]
    },
    {
        "id": "3af7235625f23643",
        "type": "switch",
        "z": "f24a94f20292b0a2",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "vib.temp",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "vib.lux",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "vib.seismic",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "vib.ax",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "vib.ay",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "vib.az",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "vib.motion",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "vib.tamper",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "vib.alarm",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "vib.battery",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "vib.general",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 11,
        "x": 1470,
        "y": 400,
        "wires": [
            [
                "6ffaa233a6c79d57",
                "b00d6bca91bd9bba"
            ],
            [
                "4d6902102fa4e443",
                "5e07c8a9aa525eb9"
            ],
            [
                "39f2cb2e7708e425",
                "ef57ffa1c0999a31",
                "4d4f8d3af387b7f5"
            ],
            [
                "0cf5c8477920e998",
                "32603aa1a82952dd"
            ],
            [
                "4bf31d71d32a53c5",
                "1f5acaf3da891a70"
            ],
            [
                "e548321d693b3841",
                "da03863a4a722744"
            ],
            [],
            [
                "9492050d86fb9f5b"
            ],
            [
                "48ac98834aa45715",
                "0fa4286a91ef7a40",
                "9cb9afe0888ab217"
            ],
            [
                "a4d9969c5e723840"
            ],
            []
        ]
    },
    {
        "id": "7a4231de71ef12b9",
        "type": "ui-gauge",
        "z": "f24a94f20292b0a2",
        "name": "Temperature (°C)",
        "group": "e0da172c67cd5e98",
        "order": 4,
        "value": "payload",
        "valueType": "msg",
        "width": "3",
        "height": "3",
        "gtype": "gauge-half",
        "gstyle": "rounded",
        "title": "Temperature (°C)",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "°C",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "-10",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "25",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "70",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "-10",
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1870,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "0a4b35239f87648c",
        "type": "ui-gauge",
        "z": "f24a94f20292b0a2",
        "name": "Seismic Intensity",
        "group": "e0da172c67cd5e98",
        "order": 5,
        "value": "payload",
        "valueType": "msg",
        "width": "6",
        "height": "3",
        "gtype": "gauge-half",
        "gstyle": "rounded",
        "title": "Seismic Intensity (Mercalli)",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "Mercalli",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "3",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "8",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "12",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1990,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "e102528d487ae94a",
        "type": "ui-gauge",
        "z": "f24a94f20292b0a2",
        "name": "Acceleration X (m/s²)",
        "group": "e0da172c67cd5e98",
        "order": 6,
        "value": "payload",
        "valueType": "msg",
        "width": "2",
        "height": "2",
        "gtype": "gauge-half",
        "gstyle": "rounded",
        "title": "Acceleration X (m/s²)",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "m/s²",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "-20",
                "color": "#5cd65c",
                "text": "",
                "textType": "value"
            },
            {
                "from": "-10",
                "color": "#ffc800",
                "text": "",
                "textType": "value"
            },
            {
                "from": "10",
                "color": "#ea5353",
                "text": "",
                "textType": "value"
            }
        ],
        "min": "-20",
        "max": "20",
        "sizeThickness": 16,
        "sizeGap": "3",
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 2040,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "6ffaa233a6c79d57",
        "type": "function",
        "z": "f24a94f20292b0a2",
        "name": "round figure",
        "func": "msg.payload = Number(Number(msg.payload).toFixed(2));\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1650,
        "y": 240,
        "wires": [
            [
                "7a4231de71ef12b9"
            ]
        ]
    },
    {
        "id": "0cf5c8477920e998",
        "type": "function",
        "z": "f24a94f20292b0a2",
        "name": "round figure",
        "func": "msg.payload = Number(Number(msg.payload).toFixed(2));\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1750,
        "y": 620,
        "wires": [
            [
                "e102528d487ae94a"
            ]
        ]
    },
    {
        "id": "4bf31d71d32a53c5",
        "type": "function",
        "z": "f24a94f20292b0a2",
        "name": "round figure",
        "func": "msg.payload = Number(Number(msg.payload).toFixed(2));\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1750,
        "y": 660,
        "wires": [
            [
                "95c103c6e979f056"
            ]
        ]
    },
    {
        "id": "e548321d693b3841",
        "type": "function",
        "z": "f24a94f20292b0a2",
        "name": "round figure",
        "func": "msg.payload = Number(Number(msg.payload).toFixed(2));\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1750,
        "y": 700,
        "wires": [
            [
                "30bb9b8c0199ed7f"
            ]
        ]
    },
    {
        "id": "39f2cb2e7708e425",
        "type": "function",
        "z": "f24a94f20292b0a2",
        "name": "round figure",
        "func": "msg.payload = Number(Number(msg.payload).toFixed(2));\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1750,
        "y": 580,
        "wires": [
            [
                "0a4b35239f87648c"
            ]
        ]
    },
    {
        "id": "5cac7bc778521587",
        "type": "ui-text",
        "z": "f24a94f20292b0a2",
        "group": "e0da172c67cd5e98",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Motion Status : ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#737378",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 2040,
        "y": 960,
        "wires": []
    },
    {
        "id": "95c103c6e979f056",
        "type": "ui-gauge",
        "z": "f24a94f20292b0a2",
        "name": "Acceleration Y (m/s²)",
        "group": "e0da172c67cd5e98",
        "order": 8,
        "value": "payload",
        "valueType": "msg",
        "width": "2",
        "height": "2",
        "gtype": "gauge-half",
        "gstyle": "rounded",
        "title": "Acceleration X (m/s²)",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "m/s²",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "-20",
                "color": "#5cd65c",
                "text": "",
                "textType": "value"
            },
            {
                "from": "-10",
                "color": "#ffc800",
                "text": "",
                "textType": "value"
            },
            {
                "from": "10",
                "color": "#ea5353",
                "text": "",
                "textType": "value"
            }
        ],
        "min": "-20",
        "max": "20",
        "sizeThickness": 16,
        "sizeGap": "3",
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 2080,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "30bb9b8c0199ed7f",
        "type": "ui-gauge",
        "z": "f24a94f20292b0a2",
        "name": "Acceleration Z (m/s²)",
        "group": "e0da172c67cd5e98",
        "order": 7,
        "value": "payload",
        "valueType": "msg",
        "width": "2",
        "height": "2",
        "gtype": "gauge-half",
        "gstyle": "rounded",
        "title": "Acceleration X (m/s²)",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "m/s²",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "-20",
                "color": "#5cd65c",
                "text": "",
                "textType": "value"
            },
            {
                "from": "-10",
                "color": "#ffc800",
                "text": "",
                "textType": "value"
            },
            {
                "from": "10",
                "color": "#ea5353",
                "text": "",
                "textType": "value"
            }
        ],
        "min": "-20",
        "max": "20",
        "sizeThickness": 16,
        "sizeGap": "3",
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 2120,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "48ac98834aa45715",
        "type": "function",
        "z": "f24a94f20292b0a2",
        "name": "On/Off",
        "func": "msg.payload = msg.payload === 1 ? \"Motion Detected\" : \"Idle\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1690,
        "y": 900,
        "wires": [
            [
                "5cac7bc778521587",
                "cfd249c90ae9b13e"
            ]
        ]
    },
    {
        "id": "4d6902102fa4e443",
        "type": "ui-gauge",
        "z": "f24a94f20292b0a2",
        "name": "",
        "group": "e0da172c67cd5e98",
        "order": 3,
        "value": "payload",
        "valueType": "msg",
        "width": "3",
        "height": "3",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Luminance",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "Lux",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "150",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "400",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "500",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1870,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "a4d9969c5e723840",
        "type": "ui-gauge",
        "z": "f24a94f20292b0a2",
        "name": "Battery",
        "group": "e0da172c67cd5e98",
        "order": 9,
        "value": "payload",
        "valueType": "msg",
        "width": "6",
        "height": "2",
        "gtype": "gauge-battery",
        "gstyle": "needle",
        "title": "Battery",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            },
            {
                "from": "40",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "70",
                "color": "#21c421",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1600,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "9492050d86fb9f5b",
        "type": "function",
        "z": "f24a94f20292b0a2",
        "name": "On/Off",
        "func": "msg.payload = msg.payload === 1 ? \"Tampered\" : \"Idle\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1710,
        "y": 840,
        "wires": [
            [
                "f2a134e8422a878d",
                "b8873486bf96092c"
            ]
        ]
    },
    {
        "id": "f2a134e8422a878d",
        "type": "ui-text",
        "z": "f24a94f20292b0a2",
        "group": "e0da172c67cd5e98",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Tamper Status : ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#605f5c",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 2040,
        "y": 920,
        "wires": []
    },
    {
        "id": "b00d6bca91bd9bba",
        "type": "change",
        "z": "f24a94f20292b0a2",
        "name": "Temperature",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "vib.temp",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2410,
        "y": 300,
        "wires": [
            [
                "a4f53e97a46572a1"
            ]
        ]
    },
    {
        "id": "5e07c8a9aa525eb9",
        "type": "change",
        "z": "f24a94f20292b0a2",
        "name": "Luminance",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "vib.lux",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2410,
        "y": 360,
        "wires": [
            [
                "a4f53e97a46572a1"
            ]
        ]
    },
    {
        "id": "a4f53e97a46572a1",
        "type": "join",
        "z": "f24a94f20292b0a2",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": true,
        "timeout": "2",
        "count": "8",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2690,
        "y": 360,
        "wires": [
            [
                "d4f83796e69557f8"
            ]
        ]
    },
    {
        "id": "ef57ffa1c0999a31",
        "type": "change",
        "z": "f24a94f20292b0a2",
        "name": "Seismic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "vib.seismic",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2400,
        "y": 420,
        "wires": [
            [
                "a4f53e97a46572a1"
            ]
        ]
    },
    {
        "id": "32603aa1a82952dd",
        "type": "change",
        "z": "f24a94f20292b0a2",
        "name": " Acceleration X",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "vib.ax",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2420,
        "y": 480,
        "wires": [
            [
                "a4f53e97a46572a1"
            ]
        ]
    },
    {
        "id": "1f5acaf3da891a70",
        "type": "change",
        "z": "f24a94f20292b0a2",
        "name": "Acceleration Y",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "vib.ay",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2420,
        "y": 540,
        "wires": [
            [
                "a4f53e97a46572a1"
            ]
        ]
    },
    {
        "id": "da03863a4a722744",
        "type": "change",
        "z": "f24a94f20292b0a2",
        "name": "Acceleration Z",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "vib.az",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2420,
        "y": 600,
        "wires": [
            [
                "a4f53e97a46572a1"
            ]
        ]
    },
    {
        "id": "b8873486bf96092c",
        "type": "change",
        "z": "f24a94f20292b0a2",
        "name": "Tamper",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "vib.tamper",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2440,
        "y": 820,
        "wires": [
            [
                "a4f53e97a46572a1"
            ]
        ]
    },
    {
        "id": "cfd249c90ae9b13e",
        "type": "change",
        "z": "f24a94f20292b0a2",
        "name": "Alarm",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "vib.alarm",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2470,
        "y": 860,
        "wires": [
            [
                "a4f53e97a46572a1"
            ]
        ]
    },
    {
        "id": "d4f83796e69557f8",
        "type": "function",
        "z": "f24a94f20292b0a2",
        "name": "function 6",
        "func": "// Robust function for vibration/motion sensor after JOIN\n// Expects msg.payload as an object with keys like \"vib.temp\" ... \"vib.alarm\"\n// (also works if keys are without prefix: \"temp\", \"lux\", etc.)\n\nconst p = msg.payload || {};\n\n// Get value whether the key is \"vib.temp\" or \"temp\"\nfunction pick(dotKey, shortKey) {\n  if (p[dotKey] !== undefined) return p[dotKey];\n  if (p[shortKey] !== undefined) return p[shortKey];\n  return undefined;\n}\n\nfunction toFloat(v) {\n  const n = Number(v);\n  return Number.isFinite(n) ? n : null;\n}\n\n// Convert state strings (Idle/Stable/On/Alarm/etc.) to 0/1\nfunction stateToInt(v) {\n  const s = String(v).toLowerCase().trim();\n\n  // NOT active (0)\n  if (\n    s === \"0\" || s === \"false\" ||\n    s.includes(\"off\") || s.includes(\"idle\") || s.includes(\"clear\") ||\n    s.includes(\"stable\") || s.includes(\"ok\") || s.includes(\"normal\") ||\n    s.includes(\"no\") || s.includes(\"none\")\n  ) return 0;\n\n  // active (1)\n  if (\n    s === \"1\" || s === \"true\" ||\n    s.includes(\"on\") || s.includes(\"alarm\") ||\n    s.includes(\"tamper\") || s.includes(\"trigger\") ||\n    s.includes(\"detect\") || s.includes(\"breach\")\n  ) return 1;\n\n  // numeric fallback\n  const n = Number(v);\n  if (Number.isFinite(n)) return n ? 1 : 0;\n\n  return null;\n}\n\n// Read values (works for both key styles)\nconst temp    = toFloat(pick(\"vib.temp\", \"temp\"));\nconst lux     = toFloat(pick(\"vib.lux\", \"lux\"));\nconst seismic = toFloat(pick(\"vib.seismic\", \"seismic\"));\nconst ax      = toFloat(pick(\"vib.ax\", \"ax\"));\nconst ay      = toFloat(pick(\"vib.ay\", \"ay\"));\nconst az      = toFloat(pick(\"vib.az\", \"az\"));\nconst tamper  = stateToInt(pick(\"vib.tamper\", \"tamper\"));\nconst alarm   = stateToInt(pick(\"vib.alarm\", \"alarm\"));\n\n// If missing, show what's missing then skip write\nconst missing = [];\nif (temp === null) missing.push(\"temp\");\nif (lux === null) missing.push(\"lux\");\nif (seismic === null) missing.push(\"seismic\");\nif (ax === null) missing.push(\"ax\");\nif (ay === null) missing.push(\"ay\");\nif (az === null) missing.push(\"az\");\nif (tamper === null) missing.push(\"tamper\");\nif (alarm === null) missing.push(\"alarm\");\n\nif (missing.length) {\n  node.warn(\n    \"Missing/invalid fields: \" + missing.join(\", \") +\n    \" | payload=\" + JSON.stringify(p)\n  );\n  return null;\n}\n\n// Prepare Influx write\nmsg.payload = [\n  {\n    vib_temp: temp,\n    vib_lux: lux,\n    vib_seismic: seismic,\n    vib_ax: ax,\n    vib_ay: ay,\n    vib_az: az,\n    vib_tamper: tamper,\n    vib_alarm: alarm\n  },\n  { device: \"vibration\", source: \"zway\" }\n];\n\nmsg.measurement = \"vibration\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2800,
        "y": 360,
        "wires": [
            [
                "9e43fc857f358725"
            ]
        ]
    },
    {
        "id": "9e43fc857f358725",
        "type": "influxdb out",
        "z": "f24a94f20292b0a2",
        "influxdb": "6c9ec3115d61e7d3",
        "name": "smart_echo Bucket",
        "measurement": "motion",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Rgroup",
        "bucket": "smart_echo",
        "x": 2970,
        "y": 360,
        "wires": []
    },
    {
        "id": "0fa4286a91ef7a40",
        "type": "function",
        "z": "f24a94f20292b0a2",
        "name": "motion function notification log",
        "func": "// Output 1: ui-table (add ONE row)\n// Output 2: ui-notification (toast)\n// Trigger only when vib.alarm changes 0 -> 1\n\nlet motionVal = null;\n\n// case 1: topic/value\nif (msg.topic === \"vib.alarm\") motionVal = Number(msg.payload);\n\n// case 2: joined object\nif (msg.payload && typeof msg.payload === \"object\" && msg.payload[\"vib.alarm\"] !== undefined) {\n    motionVal = Number(msg.payload[\"vib.alarm\"]);\n}\n\nif (motionVal === null || Number.isNaN(motionVal)) return null;\n\n// edge detect\nconst last = flow.get(\"vib_alarm_last_state\");\nflow.set(\"vib_alarm_last_state\", motionVal);\n\n// Only on rising edge\nif (!((last === 0 || last === undefined) && motionVal === 1)) return null;\n\nconst row = {\n    time: new Date().toLocaleString(),\n    source: \"Motion Sensor\",\n    severity: \"ALERT\",\n    message: \"🚨 Motion detected! Something is fishyy.\"\n};\n\n// send ONLY the new row to table (prevents duplicates)\nconst tableMsg = { payload: [row] };\n\n// toast must be a string\nconst toastMsg = { payload: row.message };\n\nreturn [tableMsg, toastMsg];\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1810,
        "y": 780,
        "wires": [
            [
                "e185a80c0b3dd279"
            ]
        ]
    },
    {
        "id": "e185a80c0b3dd279",
        "type": "ui-table",
        "z": "f24a94f20292b0a2",
        "group": "9e1cc986f772b04a",
        "name": "log",
        "label": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "maxrows": 0,
        "passthru": false,
        "autocols": true,
        "showSearch": true,
        "deselect": true,
        "selectionType": "none",
        "columns": [],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "append",
        "className": "",
        "x": 2070,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "9cb9afe0888ab217",
        "type": "function",
        "z": "f24a94f20292b0a2",
        "name": "motiion function notification",
        "func": "// Send popup notification when vib.alarm == 1\n\nlet isMotion = false;\n\n// If msg.topic carries the sensor name and msg.payload is 0/1\nif (msg.topic === \"vib.alarm\" && Number(msg.payload) === 1) {\n    isMotion = true;\n}\n\n// If msg.payload is an object that contains vib.alarm\nif (msg.payload && typeof msg.payload === \"object\" && Number(msg.payload[\"vib.alarm\"]) === 1) {\n    isMotion = true;\n}\n\nif (!isMotion) return null;\n\n// Message for popup notification\nmsg.payload = \"🚨 Motion detected! Something is fishyyy.\";\n// optional\nmsg.topic = \"Motion Alert\";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1800,
        "y": 740,
        "wires": [
            [
                "b64023caea5a4eb4"
            ]
        ]
    },
    {
        "id": "b64023caea5a4eb4",
        "type": "ui-notification",
        "z": "f24a94f20292b0a2",
        "ui": "a5694dd5abd38f3c",
        "position": "top right",
        "colorDefault": false,
        "color": "#06bcf9",
        "displayTime": "6",
        "showCountdown": false,
        "outputs": 1,
        "allowDismiss": false,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "Pop up - motion",
        "x": 2100,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "4d4f8d3af387b7f5",
        "type": "function",
        "z": "f24a94f20292b0a2",
        "name": "leak function notification",
        "func": "// Send popup notification when vib.seismic > 0  (earthquake/vibration detected)\n\nlet seismicVal = null;\n\n// Case 1: msg.topic = \"vib.seismic\", payload is a number\nif (msg.topic === \"vib.seismic\") seismicVal = Number(msg.payload);\n\n// Case 2: msg.payload is an object containing vib.seismic\nif (msg.payload && typeof msg.payload === \"object\" && msg.payload[\"vib.seismic\"] !== undefined) {\n    seismicVal = Number(msg.payload[\"vib.seismic\"]);\n}\n\nif (seismicVal === null || Number.isNaN(seismicVal)) return null;\n\n// Trigger when value is more than zero\nif (seismicVal > 0) {\n    return {\n        topic: \"Earthquake Alert\",\n        payload: \"🚨 It's an earthquake! Go under a bed or table!!\"\n    };\n}\n\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2050,
        "y": 280,
        "wires": [
            [
                "3274b26f208a3b5b"
            ]
        ]
    },
    {
        "id": "3274b26f208a3b5b",
        "type": "ui-notification",
        "z": "f24a94f20292b0a2",
        "ui": "a5694dd5abd38f3c",
        "position": "top left",
        "colorDefault": false,
        "color": "#f9064f",
        "displayTime": "10",
        "showCountdown": false,
        "outputs": 1,
        "allowDismiss": false,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "pop up -earthquake",
        "x": 2310,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "e0da172c67cd5e98",
        "type": "ui-group",
        "name": "Motion Sensor",
        "page": "351b470c1755e821",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "6c9ec3115d61e7d3",
        "type": "influxdb",
        "hostname": "localhost",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "9e1cc986f772b04a",
        "type": "ui-group",
        "name": "Notification Log",
        "page": "ec9922040277583a",
        "width": "12",
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "a5694dd5abd38f3c",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "notifications",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "351b470c1755e821",
        "type": "ui-page",
        "name": "SmartEcho",
        "ui": "a5694dd5abd38f3c",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "c4f6fa946f29d2bb",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": false
    },
    {
        "id": "ec9922040277583a",
        "type": "ui-page",
        "name": "Notifications",
        "ui": "a5694dd5abd38f3c",
        "path": "/page2",
        "icon": "notifications",
        "layout": "grid",
        "theme": "c4f6fa946f29d2bb",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "c4f6fa946f29d2bb",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#92aaab",
            "primary": "#73a0a5",
            "bgPage": "#c3c1c1",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "d4ab8d2b9fc4096d",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.30.0",
            "node-red-contrib-influxdb": "0.7.0"
        }
    }
]